{namespace bitex.ui.SimpleChart.templates}


/**
  * @param? symbol
  * @param? height
  */
{template .SimpleChart}
  <iframe id="HighChartIFrame"
        allowtransparency="true"
        src="{if $symbol}/chart.html?s={$symbol}{/if}"
        data-symbol="{if $symbol}/chart.html?s={$symbol}{/if}"
        style="width: 100%; height: {if $height}{$height}{else}400{/if}px"
        frameborder="0"
        scrolling="no"></iframe>
{/template}