div.sticky-queue
	{ 
	position:fixed;
	background:#1B1B1B;
	box-shadow:0px 0px 5px #bbb;
	-moz-box-shadow:0px 0px 5px #bbb;
	-webkit-box-shadow:0px 0px 5px #bbb;
        width: 100%!important;
        top: 40px;
	opacity: 0.8;
	z-index: 1000;
	}
div.sticky-note
	{ padding-right:20px; }
div.sticky
	{
	font-size:18px;
	font-weight: bold;
	color:#FFF;
	display:none;
	padding:20px;
	position:relative;
	}
span.sticky-close
	{
	position:absolute;
	font-size: 14px;
	top:10px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
	}
	

.top-right, .top-left
	{
	top:-2px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	}
.bottom-right
	{ right:20px; }
.bottom-left
	{ left:20px; }
.bottom-right, .bottom-left
	{
	bottom:-2px;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius:6px;
	}

.border-top-right, .border-top-left
	{ border-top:1px solid #999; }
.border-bottom-right, .border-bottom-left
	{ border-bottom:1px solid #999; }
	
