/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

section {
  padding-top: 30px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}
.footer-links li:first-child {
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}


.ws-not-connected .websocket-sensible {
  display: none;
}

.ws-connected .websocket-sensible {
  display: block;
}


.btn-execution {
  width: 85px;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
