.tk-vera-sans {
  font-family: "vera-sans",sans-serif;
}

html, body {
  background-color: #eee;
}

body {
  padding-bottom: 40px;
  font-size: 12px;
}

/* The white background content wrapper */
.page {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.section-title {
}

/* Give a quick and non-cross-browser friendly divider */
.sidebar {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.footer {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}
.footer-links li:first-child {
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}

.bitex-logged .bitex-display-if-logged {
  display: block;
}

.ws-connected .bitex-display-if-ws-connected {
  display: block;
}

.bitex-not-logged .bitex-hide-if-logged {
  display: block;
}

.ws-not-connected .bitex-hide-if-ws-connected {
  display: block;
}

.bitex-not-logged .bitex-display-if-logged {
  display: none;
}

.bitex-logged .bitex-hide-if-logged {
  display: none;
}

.ws-connected .bitex-hide-if-ws-connected {
  display: none;
}

.ws-not-connected .bitex-display-if-ws-connected {
  display: none;
}

.jumbotron {
  position: relative;
  text-align: center;
}

.signup {
  background-color: #F6F6F6;
  border-bottom: 1px solid #E3E3E3;
  margin: -20px -20px 0 -20px;
  padding: 20px;
}


#id_btn_buy,
#id_btn_sell {
  width: 107px;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
}


/*  Form Login */

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


/* Execution report status */
.order-manager-pending {
  background-color: #00ffff;
}

.order-manager-new {
}

.order-manager-partial {
  background-color: #e0ffff;
}

.order-manager-fill {
  background-color: #008b8b;
}

.order-manager-cancel {
  background-color: #f08080;
}


input.parsley-success, textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}
input.parsley-error, textarea.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type:none;
}
ul.parsley-error-list li {
  line-height: 11px;
}


/* Active view */
#withdraw_requests,
#deposit_list,
#order_book_brlbtc,
#start,
#signup,
#signin,
#forgot_password,
#set_new_password,
#offerbook,
#trading,
#tos,
#deposit,
#account_activity,
#withdraw_section,
#settings,
#verification,
#social-shares-wrap,
#user_list {
  display: none;
}

.active-view-withdraw_requests #withdraw_requests,
.active-view-order_book_brlbtc #order_book_brlbtc,
.active-view-start #start,
.active-view-start #social-shares-wrap,
.active-view-signup #signup,
.active-view-signin #signin,
.active-view-forgot_password #forgot_password,
.active-view-set_new_password #set_new_password,
.active-view-offerbook #offerbook,
.active-view-trading #trading,
.active-view-tos #tos,
.active-view-deposit_list #deposit_list,
.active-view-deposit #deposit,
.active-view-account_activity #account_activity,
.active-view-withdraw_section #withdraw_section,
.active-view-settings #settings,
.active-view-verification #verification,
.active-view-user_list #user_list {
  display: block;
}


.account-activity-buy {
  background-color: lightgreen;
}

.account-activity-sell {
  background-color: lightcoral;
}

.order-book-row {
  font-size: 12px;
}
.order-book-row td {
  line-height: 2px;
}

.md-blink,
.order-manager-blink,
.balance-info-blink,
.order-book-blink {
  background-color: #ffff00;
}


#social-shares-wrap {
	position: fixed;
	margin-right:10px;
	z-index: 2;
}
.social-shares {
    float: right;
    /* max-width: 310px; Removed to fix resize bugs */
    /* height: 25px; Removed to fix resize bugs */
    background: white;
    padding: 10px 10px 10px 10px;
    border: 1px solid #CCC;
    border-top: 0;
    width: 265px;
    box-shadow: 0 0px 5px #CCC;
    border-radius: 0 0 5px 5px;
}
.social-shares .tw-wrap,
.social-shares .fb-wrap,
.social-shares .gp-wrap {
	float: left;
    width:80px;
}
.social-shares .gp-wrap {
	margin-left: 16px;
}

