<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Buy and sell Crypto currencies.">

  <meta name="keywords" content="bitcoin, bitcoin exchange, bitcoin decentralized exchange">

  <meta name="author" content="BitEx">

  <meta charset="utf-8">

  <link href="/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">

  <link href="/css/style.css?v4" rel="stylesheet">

  <style>
    body{
      background-color: #ffffff;
      padding-top: 50px;
    }
    .black_banner {
      background-color: black;
      min-height: 60px;
      color: whitesmoke;
      padding-left: 135px;
    }
  </style>

  <link rel="canonical" href="https://www.blinktrade.com" />
</head>

<body>

<div class="black_banner">
  <img src="/images/blinktrade.png" style=" height: 55px; margin-top: 5px; margin-bottom: 5px; ">
</div>


<div class="clearfix" style="padding: 30px;"></div>

<div class="container">
  <div class="content-fluid">
    <table id="depositForm" class="table table-condensed">

      <tr><td colspan="3"><h4>Instruções para depósito</h4></td></tr>
      <tr>
        <td>Número de controle:</td>
        <td>{{control_number}}</td>
      </tr>
      <tr>
        <td>Data de criação:</td>
        <td>{{current_date}}</td>
      </tr>
      <tr>
        <td>Forma de depósito:</td>
        <td>Transferência bancária</td>
      </tr>
      <tr>
        <td>Instruções:</td>
        <td>
          1a. <b>Depósito no caixa: </b>Se dirija até uma agiencia bancária do banco {{bank_name}} e realize o depósito<br/>
          1b. <b>Depósito online: </b> Se conecte no seu banco pela internet e realize a transferência <br/>
          2. Seguem os dados para a transferência:<br/>
          

          Código do banco: {{bank_number}}<br/>
          Nome do banco: {{bank_name}}<br/>
          Agência: {{account_branch}}<br/>
          Número da conta: {{account_number}}<br/>
          Titular: {{account_name}}<br/>
          CPF/CNPJ: {{account_id}}<br/>
          4. <b>Importantissimo: Anote o seu número de controle ({{control_number}})! no comprovante do seu depósito</b><br/>
          5. Tire uma foto do comprovante ou print screen do recibo do depósito.<br/>
          6. Faça o upload do comprovante na seção de depósito.<br/>
        </td>
      </tr>
      <tr>
        <td>Valor a depositar:</td>
        <td>{{currency}} {{value}}</td>
      </tr>
      <tr>
        <td>Notas:</td>
        <td>{% raw disclaimer %}</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>    

