<!DOCTYPE html>
<html>
<head>
  <title>Instruções para deposito em conta corrente</title>
</head>
<body>

<br/>
Data: {{current_date}}<br/>
Número de controle: {{control_number}} <br/>
<br/>
Nódigo do banco: {{bank_number}}<br/>
Nome do banco: {{bank_name}}<br/>
Agência: {{account_branch}}<br/>
Número da conta: {{account_number}}<br/>
Titular: {{account_name}}<br/>
CPF/CNPJ: {{account_id}}<br/>
<br/>
<br/>
Valor a depositar: {{currency}} {{value}}<br/>
<br/>
<br/>
{% raw instructions %}<br/>
<br/>
<br/>
{% raw disclaimer %}<br/>


</body>
</html>