<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Buy and sell Crypto currencies.">

  <meta name="keywords" content="bitcoin, bitcoin exchange, bitcoin decentralized exchange">

  <meta name="author" content="BitEx">

  <meta charset="utf-8">

  <link href="/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">

  <link href="/css/style.css?v4" rel="stylesheet">

  <style>
    body{
      background-color: #ffffff;
      padding-top: 50px;
    }
    .black_banner {
      background-color: black;
      min-height: 60px;
      color: whitesmoke;
      padding-left: 135px;
    }
  </style>

  <link rel="canonical" href="https://www.blinktrade.com" />
</head>

<body>

<div class="black_banner">
  <img src="/images/blinktrade.png" style=" height: 55px; margin-top: 5px; margin-bottom: 5px; ">
</div>


<div class="clearfix" style="padding: 30px;"></div>

<div class="container">
  <div class="content-fluid">
    <table id="depositForm" class="table table-condensed">

      <tr><td colspan="3"><h4>Deposit Instructions</h4></td></tr>
      <tr>
        <td>Numero de control:</td>
        <td>{{control_number}}</td>
      </tr>
      <tr>
        <td>Emitido:</td>
        <td>{{current_date}}</td>
      </tr>
      <tr>
        <td>Método de deposito:</td>
        <td>Cheque</td>
      </tr>
      <tr>
        <td>Instrucciones:</td>
        <td>
          1a. <b>Deposito directo: </b>dirijase a su banco de preferencia y solicite información para realizar el deposito <br/>
          1b. <b>Transferencia electronica: </b> ingrese su opcion de banca en linea y solicite la opcion de realizar transferencia electronica<br/>
          2. Complete el formulario de transferencia.
          <b>Importante: Escriba o numero de control ({{control_number}}) en el campo de Concepto</b><br/>
          Informacion: <br/>
          Nombre del banco {{bank_name}} <br/>
          Número de cuenta #{{account_number}} <br/>
          Tipo de cuenta #{{account_type}} <br/>
          Nombre del titular: {{account_name}} <br/>
          {{additional_line_1}}<br/>
          {{additional_line_2}}<br/>
          3. Tome un foto del comprobante de deposito<br/>
          4. Suba el comprobante en el sistema<br/>
        </td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{currency}} {{value}}</td>
      </tr>
      <tr>
        <td>Notas:</td>
        <td>{% raw disclaimer %}</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>