{namespace bitex.ui.Merchant.templates}

/**
  * @param field
  */
{template .WithdrawFieldContent}

    <div class="ui-field-contain">
      <label class="control-label">{$field['label']}</label>
      <input class="withdraw-field" uniform-validators="{$field['validator']}" type="{$field['type']}" name="{$field['name']}" placeholder="{$field['placeholder']}" value="{$field['value']}"/>
    </div>

{/template}
