{namespace bitex.templates}

/**
  * @param username
  */
{template .CustomerDetailDialog}
  <div class="row">
    <div class="span6">
      {msg desc="Customer username"}Username:{/msg}{$username}
    </div>
  </div>
{/template}
